.root-pane {
    -fx-background-image: url("file:src/main/resources/com/example/crossnum/startingbg.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
}

.play_button {
    -fx-background-color: #2d532c;
    -fx-text-fill: white;
    -fx-background-radius: 15;
}

.help_button {
    -fx-background-color: #6f966e;
    -fx-text-fill: white;
    -fx-background-radius: 10;
}

.settings_button {
    -fx-background-color: #6f966e;
    -fx-text-fill: white;
    -fx-background-radius: 10;
}

.level_container {
    -fx-background-color: white;
    -fx-background-radius: 25;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 20, 0, 0, 6);
}

.easy_button {
    -fx-background-color: #6f966e;
    -fx-text-fill: #354b34;
    -fx-background-radius: 15;
}

.medium_button {
    -fx-background-color: #6f966e;
    -fx-text-fill: #354b34;
    -fx-background-radius: 15;
}

.hard_button {
    -fx-background-color: #6f966e;
    -fx-text-fill: #354b34;
    -fx-background-radius: 15;
}

.music_button {
    -fx-background-color: #e5e5ea;
    -fx-background-radius: 30;

    -fx-min-width: 60;
    -fx-min-height: 32;
    -fx-max-width: 60;
    -fx-max-height: 32;

    -fx-content-display: GRAPHIC_ONLY;
    -fx-padding: 3;
    -fx-alignment: CENTER_LEFT;
    -fx-cursor: hand;
}

.music_button:selected {
    -fx-background-color: #354b34;
    -fx-alignment: CENTER_RIGHT;
}

.sound_button {
    -fx-background-color: #e5e5ea;
    -fx-background-radius: 30;

    -fx-min-width: 60;
    -fx-min-height: 32;
    -fx-max-width: 60;
    -fx-max-height: 32;

    -fx-content-display: GRAPHIC_ONLY;
    -fx-padding: 3;
    -fx-alignment: CENTER_LEFT;
    -fx-cursor: hand;
}

.sound_button:selected {
    -fx-background-color: #354b34;
    -fx-alignment: CENTER_RIGHT;
}

.musicVolume .track {
    -fx-background-color: #e5e5ea;
    -fx-background-radius: 10;
    -fx-pref-height: 8;
}

.musicVolume .thumb {
    -fx-background-color: #c5c6d0;
    -fx-background-radius: 50;
    -fx-pref-width: 20;
    -fx-pref-height: 20;
    -fx-cursor: hand;
}

.soundVolume .track {
    -fx-background-color: #e5e5ea;
    -fx-background-radius: 10;
    -fx-pref-height: 8;
}

.soundVolume .thumb {
    -fx-background-color: #c5c6d0;
    -fx-background-radius: 50;
    -fx-pref-width: 20;
    -fx-pref-height: 20;
    -fx-cursor: hand;
}

#hint {
    -fx-background-color: #365d35;
    -fx-background-radius: 40;
    -fx-opacity: 1;
}

#hint:hover {
    -fx-opacity: 0.7;
}

#backbuttonEasy {
    -fx-opacity: 1;
}

#backbuttonEasy:hover {
    -fx-opacity: 0.7;
}
#restart {
    -fx-opacity: 1;
}

#restart:hover {
    -fx-opacity: 0.7;
}