.root-pane {
    -fx-background-image: url("file:src/main/resources/com/example/crossnum/startingbg.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
}

.play_button {
    -fx-background-color: #2d532c;
    -fx-text-fill: white;
    -fx-background-radius: 15;
}

.help_button {
    -fx-background-color: #6f966e;
    -fx-text-fill: white;
    -fx-background-radius: 10;
}

.easy_button {
    -fx-background-color: #6f966e;
    -fx-text-fill: #354b34;
    -fx-background-radius: 15;
}

.medium_button {
    -fx-background-color: #6f966e;
    -fx-text-fill: #354b34;
    -fx-background-radius: 15;
}

.hard_button {
    -fx-background-color: #6f966e;
    -fx-text-fill: #354b34;
    -fx-background-radius: 15;
}

